.template {
  visibility: hidden;
}

.student {
  height: 4rem;
  margin: 5px 0px 5px 0px;
}

.student-name {
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 0px;
}

.actions {
  float: right;
  padding-top: 3px;
  padding-right: 3px;
}

.button {
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.span.student-name {
  white-space: nowrap;
}

.student:first-child button.moveup {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}

.student:last-child button.movedown {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}